* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    text-align: center;
}

.form-container {
    width: 100%;
    max-width: 600px;
    border: 2px solid;
    border-radius: 20px;
    padding: 30px;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
}

button:hover {
    opacity: 0.8;
}

.container {
    padding: 16px;
}

span.reset-password {
    float: left;
    padding-top: 16px;
}

span.signup {
    float: right;
    padding-top: 16px;
}

@media screen and (max-width: 300px) {
    span.reset-password {
        display: block;
        float: none;
    }
    
    span.signup {
        display: block;
        float: none;
    }
}